In [2]:
# Imports
from pandas_datareader import data as pdr
from yahoo_fin import stock_info as si
from pandas import ExcelWriter
import yfinance as yf
import pandas as pd
import datetime
import time

In [3]:
stock_df = pd.read_csv('list.csv', index_col='date')
stock_df.head()

,A,AA,AACG,AAIC,AAL,AAMC,AAME,AAOI,AAON,AAP,...,ZS,ZSAN,ZTO,ZTS,ZUMZ,ZUO,ZVO,ZYME,ZYNE,ZYXI
date,,,,,,,,,,,,,,,,,,,,,
2020-01-23,88.353264,16.29,1.44,5.79,28.693960,13.47,1.86,14.23,53.459156,148.32083,...,59.31,1.400,22.860252,137.53767,32.28,15.78,1.72,45.10,5.57,10.42
2020-01-24,87.549780,15.51,1.36,5.79,27.538230,13.20,1.90,13.96,53.111374,140.34659,...,57.80,1.340,22.365656,135.51944,32.10,15.45,1.66,47.42,5.38,10.12
2020-01-27,85.863464,14.87,1.31,5.76,26.013866,13.36,1.80,13.26,53.061695,137.75127,...,56.04,1.300,21.969978,135.17150,31.93,15.01,1.63,44.10,5.22,9.94
2020-01-28,86.478485,14.71,1.26,5.77,26.800957,13.34,1.95,12.94,53.349850,137.27579,...,56.50,1.300,22.029331,137.45815,32.39,15.06,1.59,43.54,5.20,10.50
2020-01-29,86.537994,14.50,1.16,5.76,26.701324,13.33,2.02,11.93,53.270363,137.24606,...,57.13,1.293,22.177710,137.70667,32.45,14.85,1.69,47.26,5.01,9.91

In [5]:
yf.pdr_override()

# Variables
tickers = si.tickers_sp500()
tickers = [item.replace(".", "-") for item in tickers] # Yahoo Finance uses dashes instead of dots
index_name = '^GSPC' # S&P 500
start_date = datetime.datetime.now() - datetime.timedelta(days=365)
end_date = datetime.date.today()
exportList = pd.DataFrame(columns=['Stock', "RS_Rating", "50 Day MA", "150 Day Ma", "200 Day MA", "52 Week Low", "52 week High"])
returns_multiples = []